.footer {width: 100%; padding: 60px 0 40px; background: #000; color: #fff; font-size: 13px;}
.footer a {text-decoration: none; color: #fff;}
.footer .mt0 {margin-top: 0;}
.footer_inner {width: 835px; margin: 0 auto;}

.footer_nav .flex {display: flex;}
.footer_nav dd a { font-size: 11px; color: #999;}
.footer_info li, .footer_customer dd, .footer_about dd, .footer_social dd {margin:15px 0 15px;}
.footer_customer {margin: 0 125px 0 155px;}
.footer_social {margin-left: 145px;}
.footer_copy {padding: 20px 30px; margin: 40px 0 15px; border-top: 1px solid #444; border-bottom: 1px solid #444; }
.footer_copy_area {float: left;}
.footer_copy_area .copyright {color: #999;}
.footer_copy_policy {float: right;}

.address {font-size: 11px; line-height: 18px; color: #999;}
.address span {display: block; padding: 0 5px;}
.address .ib {display: inline-block;} 
.address address {float: left;}
.footer_insurance {float: right;}
.footer_insurance_info {margin-top: 25px;}
.footer_insurance_info a {text-decoration: underline;}
.footer {
    width: 100%;
    padding: 60px 0 40px;
    background: #000;
    color: #fff;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer .mt0 {
    margin-top: 0;
}

.footer_inner {
    width: 835px;
    margin: 0 auto;
}

.footer_nav .flex {
    display: flex;
}

.footer_nav dd a {
    font-size: 11px;
    color: #999;
}

.footer_info li, .footer_customer dd, .footer_about dd, .footer_social dd {
    margin: 15px 0 15px;
}

.footer_customer {
    margin: 0 125px 0 155px;
}

.footer_social {
    margin-left: 145px;
}

.footer_copy {
    padding: 20px 30px;
    margin: 40px 0 15px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.footer_copy_area {
    float: left;
}

.footer_copy_area .copyright {
    color: #999;
}

.footer_copy_policy {
    float: right;
}

.address {
    font-size: 11px;
    line-height: 18px;
    color: #999;
}

.address span {
    display: block;
    padding: 0 5px;
}

.address .ib {
    display: inline-block;
}

.address address {
    float: left;
}

.footer_insurance {
    float: right;
}

.footer_insurance_info {
    margin-top: 25px;
}

.footer_insurance_info a {
    text-decoration: underline;
}
