body {
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
.menu-item-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.menu-item-link {
  display: block;
  width: 100%;
  height: 100%;
}

/*header-top*/
.header-top {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 0 38px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.nk-brand .nk-brand-item {
  display: flex;
}

.nk-brand .nk-brand-item li {
  width: 20px;
  margin: 0 10px;
}

.nk-brand .nk-brand-item img {
  width: 100%;
}

.desk-user ul {
  display: flex;
}

.desk-user ul li {
  position: relative;
}

.desk-user ul li:first-child:before {
  display: none;
}

.desk-user ul li::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #333;
}

.desk-user ul li a {
  margin: 0 10px;
  font-size: 12px;
  display: flex;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.nk-brand .nk-brand-item {
  display: flex;
}

.nk-brand .nk-brand-item li {
  width: 20px;
  margin: 0 10px;
}

.nk-brand .nk-brand-item img {
  width: 100%;
}

.desk-user ul {
  display: flex;
}

.desk-user ul li {
  position: relative;
}

.desk-user ul li:first-child:before {
  display: none;
}

.desk-user ul li::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #333;
}

.desk-user ul li a {
  margin: 0 10px;
  font-size: 12px;
}

/*header*/
.header {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 24px;
}

.header .logo img {
  width: 100%;
  height: 100%;
}

.gnb {
  height: 60px;
}

.gnb > ul {
  display: flex;
  height: 60px;
}

.gnb > ul > li {
  height: 100%;
  padding: 18px 18px 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.sub_menu_wrap {
  display: none;
  position: absolute;
  top: 96px;
  left: 0;
  width: 100%;
  height: 400px;
  padding-top: 36px;
  background-color: #fff;
  box-sizing: border-box;
  justify-content: center;
  transition: all 0.3s;
  z-index: 10;
}

.sub_menu {
  width: 228px;
}

.sub_menu ul {
  display: flex;
  flex-direction: column;
}

.sub_menu ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #111;
  font-size: 16px;
}

.sub_menu ul li {
  margin: 7px 0;
}

.sub_menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #757575;
  font-size: 14px;
}

.sub_menu ul li a:hover {
  color: #181818;
}

.menu_opt {
  display: flex;
  position: relative;
  display: flex;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
  align-items: center;
}

.menu_opt .srch_wrap input {
  width: 200px;
  height: 40px;
  padding-left: 50px;
  margin-right: 28px;
  border-radius: 40px;
  border: none;
  background-color: #f5f5f5;
  font-size: 16px;
}

.menu_opt .srch_wrap .btn_srch {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.menu_opt .btn_customer button {
  margin: 0 10px;
}
