

.Signup-wrap {
    margin-top: 70px;
}
.Signup-wrap .width-wrap {
    max-width: 420px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 20px 32px;
    box-sizing: border-box;
}
.Signup-wrap .width-wrap .header-area {
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: -1px;
}
.Signup-wrap .width-wrap .header-area .s-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    color: #111;
    font-weight: 700;
}
.Signup-wrap .width-wrap .header-area .s-description {
    text-align: center;
    line-height: 20px;
    color: #999;
    font-size: 14px;
}

.Signup-wrap .width-wrap .body-area .social-body {
    margin-bottom: 35px;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 {
    width: 100%;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social {
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;
    display: block;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social.btn-kakao {
    background-color: #feec34;
    border-color: #feec34;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social.btn-facebook {
    background-color: #21538a;
    border-color: #21538a;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social .social-txt {
    color: #111;
    width: 100%;
    padding-top: 2px;
    padding-left: 0px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social .social-txt.facebook-txt {
    color: #fff;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social .social-txt .icons {
    position: relative;
    top: 5px;
    left: -75px;
}
.Signup-wrap .width-wrap .body-area .social-body .social-grid .width-1 .btn-social .social-txt .icons.kakao-icon {
    left: -80px;
}
.Signup-wrap .width-wrap .body-area .line-width {
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 35px;
}
.Signup-wrap .width-wrap .body-area .line-width .line-width-txt {
    position: absolute;
    background-color: #fff;
    display: block;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    bottom: -8px;
    text-align: center;
    color: #606060;
}
.Signup-wrap .width-wrap .body-area .form-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.Signup-wrap .width-wrap .body-area .form-top .text-field {
    width: 100%;
    display: inline-block;
    position: relative;
}
.Signup-wrap .width-wrap .body-area .form-top .text-field label {
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 13.5px;
    color: #999;
    cursor: inherit;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row + .form-row {
    margin-top: 15px;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .text-field input {
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
}
/* 이용약관 */
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms {
    clear: both;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms .agree .agree-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms .agree .agree-grid .agree-grid-tit {
    font-size: 11px;
    margin-top: 30px;
    padding-bottom: 8px;
    font-weight: bold;
    color: #000;
    text-align: left;
    width: 50%;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms .agree .agree-grid .agree-grid-blank {
    font-size: 11px;
    margin-top: 30px;
    text-align: right;
    width: 50%;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms .agree .agree-grid-scroll .scroll-box {
    font-size: 10px;
    line-height: 2;
    overflow-y: scroll;
    height: 110px;
    padding: 15px 8px;
    border: 1px solid #d1d1d1;
    text-align: left;
}
b { 
    font-weight: bold;
    
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms .agree .agree-check {
    padding-top: 7px;
    font-size: 13px;
    line-height: 1;
    text-align: left;
}
.Signup-wrap .width-wrap .body-area .form-top .form-row .regi-terms .agree .agree-check label {
    display: flex;
    align-items: center;
}

.Signup-wrap .width-wrap .body-area .form-bottom {
    margin-top: 35px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.Signup-wrap .width-wrap .body-area .form-bottom .agree-info-txt {
    padding-top: 7px;
    font-size: 11px;
    line-height: 1.5;
    font-weight: 700;
    width: 100%;
    text-align: left;
}
.Signup-wrap .width-wrap .body-area .form-bottom .agree-info-txt.center {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}
.Signup-wrap .width-wrap .body-area .form-btn {
    margin-bottom: 30px;
}
.Signup-wrap .width-wrap .body-area .form-btn .Signup-btn {
    height: 48px;
    font-size: 15px;
    padding: 12px 50px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}
.Signup-wrap .width-wrap .body-area .form-btn .Signup-btn:hover {
    background-color: #333;
}